* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: aliceblue;
    padding: 20px;
}

.to-do__list {
    width: 100%;
    max-width: 600px;
    margin: 50px auto 20px;
}

.to-do__list h1{
    display: flex;
    align-items: center;
}

.list__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.list__filter-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin-bottom: 10px;
    column-gap: 10px;
}


.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    height: 15px;
    width: 30px;
  }
  
.burger span {
    height: 2px;
    width: 20px;
    border-radius: 5px;
    background-color: #253a82;
    position: relative;
    z-index: 1;
}
  
.burger::before,
.burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    border-radius: 5px;
    background-color: #253a82;
    transition: 0.3s;
}

.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}
.burger.active::before {
    top: 50%;
    transform: rotate(-45deg);
}
.burger.active::after {
    top: 50%;
    transform: rotate(45deg);
}


.burger-menu__lists-btn {
    display: none;
}

.btn_light,
.btn-menu_light {
    background-color: transparent;
    border: 2px solid #253a82;
    border-radius: 5px;
    padding: 5px 10px;
    color: #253a82;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #253a82;
        color: white;
        transition: 0.3s;
    }

    &:focus {
        border-style: dashed;
    }
}

.btns__delete {
    display: flex;
    justify-content: end;
}

.btn_dark,
.btn-menu_dark {
    background-color: #253a82;
    border: 2px solid #253a82;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: #253a82;
        transition: 0.3s;
    }
    &:active {
        background-color: brown;
        color: white;
    }
    &:focus {
        border-style: dashed;
    }
}

.title__img {
    width: 40px;
    margin-right: 10px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #253a82;
    column-gap: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.form span {
    display: flex;
    align-items: center;
    color: white;
    column-gap: 5px;
}

.form span img {
    width: 20px;
}

.form input {
    flex: 1;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    caret-color: white;
    padding: 5px 10px;

    &::placeholder {
        color: white;
        transition: opacity 0.2s;
    }
}

.form button {
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: aliceblue;
        border-radius: 10px;
        color: #253a82;
        transition: 0.3s;
    }
}

.tasks li,
.unchecked{
    list-style: none;
    color: #253a82;
    padding: 10px 40px;
    border: 2px solid #253a82;
    border-radius: 10px;
    margin-bottom: 10px;
    user-select: none; 
    cursor: pointer;
    position: relative;
}

.tasks li.checked {
    color: #253a82;
    text-decoration: line-through;
    

    &::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-image: url("./images/checkmark_blue.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        left: 10px;
    }
}

.tasks .btn__checked {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #253a82;
    background-color: transparent;

    cursor: pointer;
    left: 10px;

    &:hover {
        background-color: #253a82;
        background-image: url("./images/checkmark_white.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transition: 0.3s;
    }
}

.tasks .btn__delete {
    position: absolute;
    height: 23px;
    width: 23px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url("./images/crossed.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    right: 10px;

    &:hover {
        background-color: #c5c5c5c0;
        transition: 0.3s;
    }
}

.open {
    display: flex !important;
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.25em;
    }
    .btn_light,
    .btn_dark {
        font-size: 0.75em;
    }
    
}

@media screen and (max-width: 410px) {
    .burger {
        display: flex;
    }

    .btn_light,
    .btn_dark,
    .form span {
        display: none;
    }
    
    .burger-menu__lists-btn {
        display: none;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        background-color: aliceblue;
        width: 100%;
        gap: 10px;
        align-items: center;
        margin-bottom: 50px;
        overflow-y: auto;
        animation: burgerAnimation 0.3s;
    }
    .burger-menu__item {
        width: 50%;
    }
}


@keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

